.idea
*.pyc
target/
.DS_Store

(.add "card_key" "integer")
(.add "collector_status" "string")
(.add "collector_reason_code" "string")
(.add "account_active_48week" "string")
(.add "ltf_flag" "string")
(.add "valid_email" "string")
(.add "receive_email_comm" "string")
(.add "receive_nectar_comm" "string")
(.add "age_band" "string")
(.add "age" "string")
(.add "gender" "string")
(.add "group_name" "string")
(.add "family_lifestage" "string")
(.add "account_type" "string")
(.add "business_line" "string")
(.add "number_of_employees" "string")
(.add "dwh_primary_flag" "string")
(.add "region" "string")
(.add "areaname" "string")
(.add "post_town" "string")
(.add "post_sector" "string")
(.add "scrambled_postcode" "string")
(.add "enrol_date" "string")
(.add "has_keytag_flg" "string")
(.add "receive_mkt_res_comm" "string")
(.add "num_of_family_members" "string")
(.add "web_status" "string")
(.add "cars_in_household" "string")
(.add "amex_tick_box" "string")
(.add "card_active_52week" "string")
(.add "ghost" "string")
(.add "acorn_group" "string")
(.add "have_garden" "string")
(.add "own_home" "string")
(.add "child1_age" "string")
(.add "mosaic_group" "string")
(.add "acorn_category" "string")
(.add "job_function" "string")
(.add "creation_date" "string")
(.add "tech_user" "string")
(.add "num_of_family_minors" "string")
(.add "mosaic_type" "string")
(.add "acorn_type" "string")
(.add "age_band_code" "string")
(.add "shop_online" "string")
(.add "child2_age" "string")
(.add "child3_age" "string")
(.add "child4_age" "string")